*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
}
:root{
    --bg-color: #fff;
    --font-color: #696969;
    --headingFont-color: #000c04;
    --bg-light: rgba(147, 107, 232, 0.05);
}
